.container{
    
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
    background-color: #bef202;
    border-radius: 12px;
    padding: 25px;

}

body{
    font-family: monospace;
    background: #519548;
    font-size: 40px;
}

h1{
    font-size: 100px;
    text-align: center;
}

p{
    font-size: 40px;
}

.tec{
    margin: 0 auto;
    width: auto;
    display: table;
    text-align: center;
    background-color: #1b676b;
    border-radius: 12px;
    padding: 25px;

}