body{
    background-color: rgb(255, 255, 255);
}

p{
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(80, 74, 66);
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #D2B48C ;
    background-color: rgb(219, 205, 185);
  }

  input[type=submit] {
        background-color: rgb(255, 255, 255);
        color: rgb(219, 205, 185);
        border: 2px solid rgb(219, 205, 185);
        border-radius: 2px;
        font-family: "Lucida Console", "Courier New", monospace;
    
      }